<a href="https://colab.research.google.com/github/SeongBumKim/Dataanalysis/blob/master/05_pandas_%EB%B3%B5%EC%A0%9C_%EA%B2%B0%EC%B8%A1%EC%B9%98_seongbum_231025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 결측치에 대한 예측, 기존값들을 보고 예측하는 알고리즘

# 패키지 설치

In [1]:
!pip install mySUNI

Collecting mySUNI
  Downloading mySUNI-2.0.0-py3-none-any.whl (22 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from mySUNI) (4.66.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from mySUNI) (1.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from mySUNI) (1.5.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from mySUNI) (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (from mySUNI) (0.12.2)
Collecting jupyter (from mySUNI)
  Downloading jupyter-1.0.0-py2.py3-none-any.whl (2.7 kB)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from mySUNI) (7.7.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from mySUNI) (2.31.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->mySUNI) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->mySUNI) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->mySUNI) (5.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->mySUNI) (3.6.6)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->mySUNI) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->mySUNI) (3.0.9)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->mySUNI) (6.5.5)
Collecting qtconsole (from jupyter->mySUNI)
  Downloading qtconsole-5.4.4-py3-none-any.whl (121 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 121.9/121.9 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->mySUNI) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->mySUNI) (6.5.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->mySUNI) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->mySUNI) (2023.3.post1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->mySUNI) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->mySUNI) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->mySUNI) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->mySUNI) (2023.7.22)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mySUNI) (1.11.3)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mySUNI) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mySUNI) (3.2.0)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets->mySUNI) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets->mySUNI) (6.3.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (67.7.2)
Collecting jedi>=0.16 (from ipython>=4.0.0->ipywidgets->mySUNI)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 11.7 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (3.0.39)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets->mySUNI) (4.8.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->mySUNI) (1.16.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (3.1.2)
Requirement already satisfied: pyzmq<25,>=17 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (23.2.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (23.1.0)
Requirement already satisfied: jupyter-core>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (5.4.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (5.9.2)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (1.5.8)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (0.17.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (0.17.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->mySUNI) (1.0.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (4.9.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (6.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (0.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (2.1.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->mySUNI) (1.2.1)
Collecting qtpy>=2.4.0 (from qtconsole->jupyter->mySUNI)
  Downloading QtPy-2.4.1-py3-none-any.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.5/93.5 kB 10.0 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets->mySUNI) (0.8.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.6.1->notebook->jupyter->mySUNI) (3.11.0)
Requirement already satisfied: jupyter-server>=1.8 in /usr/local/lib/python3.10/dist-packages (from nbclassic>=0.4.7->notebook->jupyter->mySUNI) (1.24.0)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.10/dist-packages (from nbclassic>=0.4.7->notebook->jupyter->mySUNI) (0.2.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat->notebook->jupyter->mySUNI) (2.18.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat->notebook->jupyter->mySUNI) (4.19.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets->mySUNI) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->mySUNI) (0.2.8)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->mySUNI) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->mySUNI) (2.5)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->jupyter->mySUNI) (0.5.1)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat->notebook->jupyter->mySUNI) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat->notebook->jupyter->mySUNI) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat->notebook->jupyter->mySUNI) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat->notebook->jupyter->mySUNI) (0.10.6)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->mySUNI) (3.7.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.10/dist-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->mySUNI) (1.6.4)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->mySUNI) (1.16.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->mySUNI) (1.3.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<4,>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook->jupyter->mySUNI) (1.1.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->mySUNI) (2.21)
Installing collected packages: qtpy, jedi, qtconsole, jupyter, mySUNI
Successfully installed jedi-0.19.1 jupyter-1.0.0 mySUNI-2.0.0 qtconsole-5.4.4 qtpy-2.4.1

## 모듈 import

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from mySUNI import cds
from IPython.display import Image

## 데이터셋 로드

In [3]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

**컬럼(columns) 설명**

- survivied: 생존여부 (1: 생존, 0: 사망)
- pclass: 좌석 등급 (1등급, 2등급, 3등급)
- sex: 성별
- age: 나이
- sibsp: 형제 + 배우자 수
- parch: 부모 + 자녀 수
- fare: 좌석 요금
- embarked: 탑승 항구 (S, C, Q)
- class: pclass와 동일
- who: 성별과 동일
- adult_male: 성인 남자 여부
- deck: 데크 번호 (알파벳 + 숫자 혼용)
- embark_town: 탑승 항구 이름
- alive: 생존여부 (yes, no)
- alone: 혼자 탑승 여부

## copy

DataFrame을 **복제**합니다. 복제한 DataFrame을 수정해도 **원본에는 영향을 미치지 않습니다.**

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

`copy()`로 DataFrame을 복제합니다.

In [5]:
df_copy = df.copy()
# 원본보존을 위해 복제

id 값을 확인하면 두 DataFrame의 **메모리 주소가 다름**을 확인할 수 있습니다.

In [ ]:
df_copy.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

`df_copy`의 `age`를 99999로 임의 수정하도록 하겠습니다.

In [7]:
df_copy.loc[0, 'age'] = 99999

수정사항이 반영된 것을 확인할 수 있습니다.

In [ ]:
df_copy.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,99999.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

하지만, 원본 DataFrame의 **데이터는 변경되지 않고 그대로 남아** 있습니다.

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# 결측치

결측치는 **비어있는 데이터**를 의미합니다.

결측치에 대한 처리는 매우 중요합니다.

결측치에 대한 처리를 해주려면 **다음의 내용**을 반드시 알아야 합니다.

1. 결측 데이터 확인
2. 결측치가 **아닌** 데이터 확인
3. 결측 데이터 **채우기**
- 시계열 : 근처의 값으로 채우기, 추세, 계절성(단기적, 패턴이 일정), 주기(cycle, 장기적인, 기간이 일정치 않은)를 이용하여 판단
- 정규분포의 데이터 : 평균, 중앙값, 최빈값 등의 대표값으로 채우기
- 데이터의 특성을 고려해서 값을 정함 (틀릴 가능성 높음)
4. 결측 데이터 **제거하기**
- 데이터의 왜곡을 방지할 수 있음
- 수집비용, 다른 데이터 손실, 편향 데이터 등의 여러 가지 문제가 존재함

5. 결측 데이터를 예측하는 모델을 만드는 것

## 결측치 확인 - isnull(), isna()

컬럼(column)별 결측치의 갯수를 확인하기 위해서는 `sum()` 함수를 붙혀주면 됩니다.

`sum()`은 Pandas의 통계 관련 함수이며, 통계 관련 함수는 추후에 더 자세히 알아볼 예정입니다.

**isnull()**

In [10]:
df.isnull()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [11]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [18]:
df.isnull().sum(axis=1)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [14]:
df.isnull().sum(axis=1).sum()

869

**isna()**

isnull() 과 동작이 완전 같습니다. 편한 것으로 써주세요. (심지어 도큐먼트도 같습니다)

In [16]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

DataFrame 전체 결측 데이터의 갯수를 합산하기 위해서는 `sum()`을 두 번 사용하면 됩니다.

In [ ]:
# 전체 결측 데이터의 개수를 확인합니다.

869

## 결측치가 아닌 데이터 확인 - notnull()

`notnull()`은 `isnull()`과 정확히 **반대** 개념입니다.

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

## 결측 데이터 필터링

`isnull()` 함수가 결측 데이터를 찾는 **boolean index** 입니다.

즉, `loc`에 적용하여 조건 필터링을 걸 수 있습니다.

In [20]:
# df의 'age' 컬럼에 대해 결측치인 정보를 가져와 출력해 보세요.  (basic indexing, loc 사용)
df[df['age'].isnull()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

## 결측치 채우기 - fillna()

`fillna()`를 활용하면 결측치에 대하여 **일괄적으로 값을 채울 수** 있습니다.

In [47]:
# 원본을 copy하여 df1 이름 붙이기
df0 = df.copy()
df1 = df.copy()

888번 index의 **결측치가 700으로 채워**진 것을 확인할 수 있습니다.

In [48]:
# df1의 'age' 컬럼의 결측치를 700으로 채우기하여, 마지막 5개 데이터를 출력해 봅니다.
df0['age'].fillna(700).tail()

886     27.0
887     19.0
888    700.0
889     26.0
890     32.0
Name: age, dtype: float64

In [49]:
# df1의 'age' 컬럼을 결측치가 700으로 채워진 내용으로 갱신합니다.
df0['age'] = df0['age'].fillna(700)
df0['age'].tail()

886     27.0
887     19.0
888    700.0
889     26.0
890     32.0
Name: age, dtype: float64

**카테고리 형 데이터**을 채워주기 위해서는 다음과 같은 과정을 거쳐야 합니다.

이미 카테고리가 추가된 'A'나 'B'는 바로 fillna() 할 수 있습니다.

In [26]:
# df1의 'deck' 컬럼의 결측치를 'A'로 채우기합니다.  (갱신은 하지 않음)
df1['deck'].fillna('A').tail()

886    A
887    B
888    A
889    C
890    A
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

하지만, 없는 카테고리로 채워주고자 할 때는 먼저 `cat.add_categories`로 카테고리를 추가한 후 채워야 합니다.

In [55]:
# cat은 category의 지정자
# add_categories (카테고리 추가)
# df1의 'deck'의 cat.add_categories()를 사용하여 'No Data'라는 카테고리를 추가하고
# 결측치를 'No Data'로 채우기 합니다.
# df1['deck'].cat.add_categories('No Data')
df1['deck'] = df1['deck'].fillna('No Data')
df1['deck'].tail()

886    No Data
887          B
888    No Data
889          C
890    No Data
Name: deck, dtype: category
Categories (8, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'No Data']

## 통계값으로 채우기

In [ ]:
df1 = df.copy()

In [ ]:
df1['age'].tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

### 평균으로 채우기

In [56]:
# df1의 'age'의 결측치를 df1의 'age' 평균값으로 채우기 하고, 마지막 5개의 데이터를 확인합니다.
df1['age'].fillna(df1.age.mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [57]:
df1.groupby('who')['age'].mean()

who
child     6.369518
man      33.173123
woman    32.000000
Name: age, dtype: float64

In [58]:
df1.groupby('class')['age'].mean()

class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64

In [59]:
df1.groupby(['class', 'who'])['age'].mean()

class   who
First   child     7.820000
        man      42.382653
        woman    35.500000
Second  child     4.543684
        man      33.588889
        woman    32.179688
Third   child     6.817586
        man      28.995556
        woman    27.854167
Name: age, dtype: float64

In [60]:
df1.groupby(['class', 'who'])['age'].transform('mean')

0      28.995556
1      35.500000
2      27.854167
3      35.500000
4      28.995556
         ...
886    33.588889
887    35.500000
888    27.854167
889    42.382653
890    28.995556
Name: age, Length: 891, dtype: float64

In [61]:
x = df1.groupby(['class', 'who'])['age'].transform('mean')
df1['age'].mask(df1.age.isna(), x).tail()

886    27.000000
887    19.000000
888    27.854167
889    26.000000
890    32.000000
Name: age, dtype: float64

### 중앙값으로 채우기
- 이상치가 있는 데이터의 경우 평균보다 중앙값이 더 적절한 선택

In [62]:
# df1의 'age'의 결측치를 df1의 'age' 중앙값으로 채우기 하고, 마지막 5개의 데이터를 확인합니다.
df1['age'].fillna(df1.age.median()).tail(5)

886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: age, dtype: float64

### 최빈값으로 채우기

In [79]:
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,No Data,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,No Data,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,No Data,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,No Data,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,No Data,Southampton,no,True

In [80]:
# df1의 'deck'에 대한 최빈값을 구해 봅니다.  (mode() 메서드 사용)
df3 = df.copy()
df3.deck.mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

**최빈값(mode)**으로 채울 때에는 반드시 **0번째 index 지정**하여 값을 추출한 후 채워야 합니다.

In [46]:
# 최빈값에서 가장 처음에 있는 값을 출력해 봅니다. (indexing 사용)
df1['deck'].fillna(df1.deck.mode()[0]).tail(5)

886    No Data
887          B
888    No Data
889          C
890    No Data
Name: deck, dtype: category
Categories (8, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'No Data']

In [78]:
# df1의 'deck'에 대해서 결측치를 최빈값으로 채우기하고, 마지막 5개의 데이터를 출력해 봅니다.

## NaN 값이 있는 데이터 제거하기 (dropna)
- DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
- axis=0/1 : 삭제할 것이 행/열
- how={'any','all'} => 'any': NaN이 하나라도 있으면 제거, 'all' : 모든 값이 NaN 이면 제거
- thresh=정수값 => NaN이 아닌 데이터가 정수 미만이면 제거
- subset=[컬럼목록/행목록] => na값 확인하는 컬럼/행 목록

In [67]:
temp = pd.DataFrame([[np.nan, 1, 2, 3], [np.nan, 1, 2, np.nan],
                     [np.nan, np.nan, 2, np.nan], [np.nan, 1, np.nan, 3]])
temp

    0    1    2    3
0 NaN  1.0  2.0  3.0
1 NaN  1.0  2.0  NaN
2 NaN  NaN  2.0  NaN
3 NaN  1.0  NaN  3.0

In [68]:
temp.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [69]:
temp.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [70]:
temp.dropna(how='all')

    0    1    2    3
0 NaN  1.0  2.0  3.0
1 NaN  1.0  2.0  NaN
2 NaN  NaN  2.0  NaN
3 NaN  1.0  NaN  3.0

In [71]:
temp.dropna(axis=1, how='all')

     1    2    3
0  1.0  2.0  3.0
1  1.0  2.0  NaN
2  NaN  2.0  NaN
3  1.0  NaN  3.0

In [73]:
temp.dropna(axis=0, thresh=2)

    0    1    2    3
0 NaN  1.0  2.0  3.0
1 NaN  1.0  2.0  NaN
3 NaN  1.0  NaN  3.0

In [75]:
temp.dropna(axis=0, subset=[3])  # axis = 0 일때는 subset=[column_label]

    0    1    2    3
0 NaN  1.0  2.0  3.0
3 NaN  1.0  NaN  3.0

In [76]:
temp.dropna(axis=1, subset=[3])  # axis = 1 일때는 subset=[index_label]

     1    3
0  1.0  3.0
1  1.0  NaN
2  NaN  NaN
3  1.0  3.0

In [ ]:
df1 = df.copy()

In [ ]:
df1.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

`dropna()`로 **1개 라도 NaN 값이 있는 행**은 제거할 수 있습니다. (`how='any'`)

In [81]:
# df1에서 1개 라도 NaN 값이 있는 행을 제거합니다.
df1.dropna(axis=0, how='any')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,No Data,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,No Data,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,No Data,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,No Data,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,No Data,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,No Data,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,No Data,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,No Data,Queenstown,no,True

기본 옵션 값은 `how=any`로 설정되어 있으며, 다음과 같이 변경할 수 있습니다.

- **any**: 1개 라도 NaN값이 존재시 drop
- **all**: 모두 NaN값이 존재시 drop

In [82]:
# df1에서 모든 값이 결측치인 행을 제거합니다. (how='all' 사용)
df1.dropna(axis=0, how='all')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,No Data,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,No Data,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,No Data,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,No Data,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,No Data,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,No Data,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,No Data,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,No Data,Queenstown,no,True

In [83]:
df1.dropna(axis=0, thresh=14)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,No Data,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,No Data,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,No Data,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,No Data,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,No Data,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,No Data,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,No Data,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,No Data,Queenstown,no,True

In [85]:
x = df1.isna().sum(axis=1)
df1[x>=2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,No Data,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,No Data,NaN,yes,True

# 연습문제

data폴더에 있는 mySUNI_1.csv를 읽어 df에 저장하세요.

In [86]:
#  데이터 다운로드
cds.download_data(['서울시대중교통', '서울시주민등록인구', 'PandasFileIO'])

파일 다운로드 완료
====================

데이터셋: 서울시대중교통
파일경로: data/seoul_transportation.xlsx

====================
파일 다운로드 완료
====================

데이터셋: 서울시주민등록인구
파일경로: data/seoul_population.csv

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI.xlsx

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI_1.csv

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI_2.csv

====================
파일 다운로드 완료
====================

데이터셋: PandasFileIO
파일경로: data/mySUNI_3.csv

====================

In [88]:
# 코드를 입력하세요.
temp = pd.read_excel('data/mySUNI.xlsx')
temp.head()

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1635.753333,1800.695556,1627.195,1810.8625,1626.702500,1939.458889,NaN,NaN,NaN,NaN,NaN,1573.000000,1799.250
1,서울 강동구,1617.385000,1647.030000,1620.260,1665.1000,1623.522000,1794.175000,NaN,NaN,NaN,NaN,NaN,NaN,1589.370
2,서울 강북구,1519.790000,1545.130000,1511.650,1544.4500,1561.887500,1528.740000,NaN,NaN,NaN,NaN,NaN,1526.506667,NaN
3,서울 강서구,1570.040000,1589.885000,1595.230,NaN,1563.165714,1674.021667,NaN,1527.225,1520.68,NaN,NaN,1541.840000,1578.695
4,서울 관악구,1582.710000,1639.755000,NaN,1604.5350,1593.675000,1631.090000,NaN,NaN,1573.35,NaN,NaN,1572.710000,1634.465

In [ ]:
df.shape

(25, 14)

각 열별 결측치의 개수를 조회하세요.

In [89]:
# 코드를 입력하세요.
temp.isna().sum(axis = 0)

지역            0
GS칼텍스_셀프      5
GS칼텍스_일반      1
S-OIL_셀프      7
S-OIL_일반      5
SK에너지_셀프      4
SK에너지_일반      1
알뜰(ex)_셀프    24
알뜰주유소_셀프     22
알뜰주유소_일반     18
자가상표_셀프      24
자가상표_일반      23
현대오일뱅크_셀프     8
현대오일뱅크_일반     3
dtype: int64

In [90]:
# 코드를 입력하세요.
temp.isna().sum(axis = 0).to_frame().T

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,0,5,1,7,5,4,1,24,22,18,24,23,8,3

각 행별 결측치의 개수를 조회하세요.

In [91]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)

In [103]:
# 코드를 입력하세요.
temp1 = temp.isna().sum(axis = 1).to_frame().T
temp1.columns = temp['지역']
temp1

지역,서울 강남구,서울 강동구,서울 강북구,서울 강서구,서울 관악구,서울 광진구,서울 구로구,서울 금천구,서울 노원구,서울 도봉구,서울 동대문구,서울 동작구,서울 마포구,서울 서대문구,서울 서초구,서울 성동구,서울 성북구,서울 송파구,서울 양천구,서울 영등포구,서울 용산구,서울 은평구,서울 종로구,서울 중구,서울 중랑구
0,5,6,6,4,5,5,5,7,7,5,6,6,8,5,5,4,4,5,5,4,10,5,8,8,7

전체 NA 개수를 계산하세요.

In [98]:
# 코드를 입력하세요.
temp.isna().sum().sum()

145

각 열별 결측치의 평균(비율)을 계산하세요.

In [101]:
s = pd.Series([1,1,1,1,1,0,0,1])
s.mean()

0.75

In [102]:
# 코드를 입력하세요.
temp.isna().mean(axis=0)

지역           0.00
GS칼텍스_셀프     0.20
GS칼텍스_일반     0.04
S-OIL_셀프     0.28
S-OIL_일반     0.20
SK에너지_셀프     0.16
SK에너지_일반     0.04
알뜰(ex)_셀프    0.96
알뜰주유소_셀프     0.88
알뜰주유소_일반     0.72
자가상표_셀프      0.96
자가상표_일반      0.92
현대오일뱅크_셀프    0.32
현대오일뱅크_일반    0.12
dtype: float64

In [105]:
(temp.isna().mean(axis=0)*100).astype('int32')

지역            0
GS칼텍스_셀프     20
GS칼텍스_일반      4
S-OIL_셀프     28
S-OIL_일반     20
SK에너지_셀프     16
SK에너지_일반      4
알뜰(ex)_셀프    96
알뜰주유소_셀프     88
알뜰주유소_일반     72
자가상표_셀프      96
자가상표_일반      92
현대오일뱅크_셀프    32
현대오일뱅크_일반    12
dtype: int32

데이터의 개수가 15개 미만인 컬럼을 제거 후 다시 df 변수에 저장하세요.
- 의미 : 결측치 비율이 0.6 이상인 컬럼 제거

In [ ]:
15/25

0.6

In [109]:
# 코드를 입력하세요.
# thresh=15 : 15이상은 제거하지 마세요, 15미만은 제거하세요.
temp.dropna(axis=1,thresh=15)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1635.753333,1800.695556,1627.195000,1810.8625,1626.702500,1939.458889,1573.000000,1799.250
1,서울 강동구,1617.385000,1647.030000,1620.260000,1665.1000,1623.522000,1794.175000,NaN,1589.370
2,서울 강북구,1519.790000,1545.130000,1511.650000,1544.4500,1561.887500,1528.740000,1526.506667,NaN
3,서울 강서구,1570.040000,1589.885000,1595.230000,NaN,1563.165714,1674.021667,1541.840000,1578.695
4,서울 관악구,1582.710000,1639.755000,NaN,1604.5350,1593.675000,1631.090000,1572.710000,1634.465
5,서울 광진구,NaN,1577.652000,1570.660000,1541.4200,1600.905000,1587.590000,1541.740000,1553.770
6,서울 구로구,1532.030000,1751.280000,1544.770000,1605.0140,NaN,1627.928000,1562.623333,1598.805
7,서울 금천구,1561.223333,NaN,1570.225000,1545.3200,NaN,1608.195000,1564.225000,NaN
8,서울 노원구,1554.730000,1635.450000,1588.903333,NaN,1593.745000,1691.836667,NaN,1680.000
9,서울 도봉구,1528.030000,1596.420000,1558.476000,1570.6100,1533.087500,1663.580000,1589.870000,1518.550
10,서울 동대문구,1605.680000,1561.687500,NaN,1608.0150,1576.750000,1602.372000,1556.915000,1599.195
11,서울 동작구,1581.260000,1587.690000,NaN,1593.5800,1620.790000,1675.000000,1571.740000,1578.825
12,서울 마포구,NaN,1637.000000,NaN,1787.5000,1859.000000,1760.801667,NaN,1638.000
13,서울 서대문구,1576.950000,1561.870000,1555.095000,1726.3900,1583.126667,1733.332500,1555.580000,1556.230
14,서울 서초구,1651.725000,1612.745833,1589.710000,1774.6950,1601.185000,1761.534444,NaN,1582.470
15,서울 성동구,1561.710000,1869.000000,1541.420000,1590.7600,1619.190000,1671.311667,1561.950000,1719.000
16,서울 성북구,1531.445000,1596.120000,1640.336667,1545.6750,1547.658000,1585.920000,1523.506667,1554.480
17,서울 송파구,1562.220000,1579.540000,1552.790000,1586.6450,1579.273750,1651.368000,1558.397500,1591.420
18,서울 양천구,1543.710000,1557.370000,1523.130000,NaN,1586.571250,1699.994000,1564.720000,1578.590
19,서울 영등포구,1586.497500,1749.780000,1562.065000,1587.3500,1570.097143,1798.215714,1551.255000,1528.195
20,서울 용산구,NaN,1929.017500,NaN,NaN,NaN,2012.630000,NaN,1998.000
21,서울 은평구,1556.000000,1579.000000,1550.710000,NaN,1552.777500,1600.940000,1551.753333,NaN
22,서울 종로구,NaN,2187.000000,NaN,1643.0000,1642.190000,2061.000000,NaN,1598.000
23,서울 중구,NaN,2197.572500,NaN,1875.1000,NaN,2132.710000,NaN,1820.260
24,서울 중랑구,1541.155000,1543.740000,1545.516667,1563.5000,1555.062000,NaN,NaN,1524.350

결측치를 0으로 대체하세요.

In [110]:
# 코드를 입력하세요.
temp.fillna(0)

,지역,GS칼텍스_셀프,GS칼텍스_일반,S-OIL_셀프,S-OIL_일반,SK에너지_셀프,SK에너지_일반,알뜰(ex)_셀프,알뜰주유소_셀프,알뜰주유소_일반,자가상표_셀프,자가상표_일반,현대오일뱅크_셀프,현대오일뱅크_일반
0,서울 강남구,1635.753333,1800.695556,1627.195000,1810.8625,1626.702500,1939.458889,0.00,0.000,0.00,0.0,0.00,1573.000000,1799.250
1,서울 강동구,1617.385000,1647.030000,1620.260000,1665.1000,1623.522000,1794.175000,0.00,0.000,0.00,0.0,0.00,0.000000,1589.370
2,서울 강북구,1519.790000,1545.130000,1511.650000,1544.4500,1561.887500,1528.740000,0.00,0.000,0.00,0.0,0.00,1526.506667,0.000
3,서울 강서구,1570.040000,1589.885000,1595.230000,0.0000,1563.165714,1674.021667,0.00,1527.225,1520.68,0.0,0.00,1541.840000,1578.695
4,서울 관악구,1582.710000,1639.755000,0.000000,1604.5350,1593.675000,1631.090000,0.00,0.000,1573.35,0.0,0.00,1572.710000,1634.465
5,서울 광진구,0.000000,1577.652000,1570.660000,1541.4200,1600.905000,1587.590000,0.00,0.000,1541.74,0.0,0.00,1541.740000,1553.770
6,서울 구로구,1532.030000,1751.280000,1544.770000,1605.0140,0.000000,1627.928000,0.00,0.000,1564.42,0.0,0.00,1562.623333,1598.805
7,서울 금천구,1561.223333,0.000000,1570.225000,1545.3200,0.000000,1608.195000,0.00,0.000,1560.68,0.0,0.00,1564.225000,0.000
8,서울 노원구,1554.730000,1635.450000,1588.903333,0.0000,1593.745000,1691.836667,0.00,0.000,0.00,0.0,0.00,0.000000,1680.000
9,서울 도봉구,1528.030000,1596.420000,1558.476000,1570.6100,1533.087500,1663.580000,0.00,0.000,0.00,0.0,0.00,1589.870000,1518.550
10,서울 동대문구,1605.680000,1561.687500,0.000000,1608.0150,1576.750000,1602.372000,0.00,0.000,0.00,0.0,0.00,1556.915000,1599.195
11,서울 동작구,1581.260000,1587.690000,0.000000,1593.5800,1620.790000,1675.000000,0.00,0.000,0.00,0.0,0.00,1571.740000,1578.825
12,서울 마포구,0.000000,1637.000000,0.000000,1787.5000,1859.000000,1760.801667,0.00,0.000,0.00,0.0,0.00,0.000000,1638.000
13,서울 서대문구,1576.950000,1561.870000,1555.095000,1726.3900,1583.126667,1733.332500,0.00,0.000,0.00,0.0,0.00,1555.580000,1556.230
14,서울 서초구,1651.725000,1612.745833,1589.710000,1774.6950,1601.185000,1761.534444,1511.06,0.000,0.00,0.0,0.00,0.000000,1582.470
15,서울 성동구,1561.710000,1869.000000,1541.420000,1590.7600,1619.190000,1671.311667,0.00,0.000,0.00,0.0,1554.45,1561.950000,1719.000
16,서울 성북구,1531.445000,1596.120000,1640.336667,1545.6750,1547.658000,1585.920000,0.00,0.000,1515.52,0.0,0.00,1523.506667,1554.480
17,서울 송파구,1562.220000,1579.540000,1552.790000,1586.6450,1579.273750,1651.368000,0.00,0.000,0.00,0.0,0.00,1558.397500,1591.420
18,서울 양천구,1543.710000,1557.370000,1523.130000,0.0000,1586.571250,1699.994000,0.00,1528.390,0.00,0.0,0.00,1564.720000,1578.590
19,서울 영등포구,1586.497500,1749.780000,1562.065000,1587.3500,1570.097143,1798.215714,0.00,1526.100,0.00,0.0,0.00,1551.255000,1528.195
20,서울 용산구,0.000000,1929.017500,0.000000,0.0000,0.000000,2012.630000,0.00,0.000,0.00,0.0,0.00,0.000000,1998.000
21,서울 은평구,1556.000000,1579.000000,1550.710000,0.0000,1552.777500,1600.940000,0.00,0.000,0.00,1609.0,1601.33,1551.753333,0.000
22,서울 종로구,0.000000,2187.000000,0.000000,1643.0000,1642.190000,2061.000000,0.00,0.000,0.00,0.0,0.00,0.000000,1598.000
23,서울 중구,0.000000,2197.572500,0.000000,1875.1000,0.000000,2132.710000,0.00,0.000,1603.74,0.0,0.00,0.000000,1820.260
24,서울 중랑구,1541.155000,1543.740000,1545.516667,1563.5000,1555.062000,0.000000,0.00,0.000,0.00,0.0,0.00,0.000000,1524.350